---

---

@import "minima";

body {
	font-family: Livory, serif;
	font-size: 110%;
}

b, strong {
	font-weight:700;
}
	
em, i {
	font-style: italic;
}

h1, h2, h3	{
	font-weight:700;
}

h1, h2 {
	color: #268b89;
}

h3 {
	color: #8d5436;
}

a {
	color: #268b89;
	text-decoration: none;
}

a:hover, a:hover.page-link {
	text-decoration: underline;
}

.site-header {
	margin-top: 10px;
	border: none;
}

.trigger a {
	color: #268b89;
	text-decoration: none;
}

.site-nav {
	margin-top: 100px;
}