---

---

@import "minima";

body {
	font-family: Livory, serif;
}

p, li {font-size: 110%;}

b, strong {
	font-weight:700;}
	
em, i {
	font-style: italic;}

h1, h2 {
	font-weight:700;
	font-size:120%;
	color: purple;
}

a {color: #268b89;
text-decoration: underline;
}
